body {
background-color: rgb(73, 59, 114);
padding: 100%;
color: rgb(255, 245, 111);
border: solid 5px;
font-style: normal;
text-align: center;
margin: 5px;
}

header{
    border-bottom: solid black 5px;
}

img {
    width: 50%;
}

.titulo{
    color: rgb(255, 194, 81);
    font-size: 110%;
}